#vertical-nav {
    
    text-align:center;
    font:bold 20px/50px Tahoma, Geneva, sans-serif;
    text-decoration:none;
    -webkit-transition:color 0.2s;
    position: absolute;
    width: 350px;
}
#vertical-nav ul{
    list-style-type: none;
}
#vertical-nav .topmen .submen li{
    width: 100%;
}
#vertical-nav .bt{
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    color: #fcfcfc;
    background-color: transparent !important;
    border:none;
    text-align: center;
    outline: 0;
}
#panel1 .topmen:after {
    content: "";
}
#panel1 .topmen > ul {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }

  
#panel1 .topmen ul .bt:hover,btn:active, btn:focus { color: #D5B45B;}
#panel1 .submen-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
  }
#panel1 .submen{
    background:  rgba(29, 35, 36, 0.4);
    margin-left: -60px;
    padding:0;
    z-index: 9999;
    width: 320px;
    position: relative;
    max-height:0px;
    overflow:hidden;
    -webkit-transition:max-height 1.5s linear;
    -moz-transition:max-height 1.5s linear;
    transition:max-height 1.5s linear;
  }
  #panel1 .submen ul{
      margin-left: -30px;
      width: 21.50px;
  }


  
#panel1 .topmen  ul:hover .submen {
    opacity: 1;
    display: block;
    max-height:600px;
  }
