body {
  background: #8080802b;
  font-size: 21px !important;
}

.newTest {
  margin: 50px;
  margin-left: 70px;
  flex: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 70%;
  align-items: center;
  margin-left: 90px;
}

.nameTest {
  border: none;
  width: 100%;
  text-align: center;
}

.testComponent {
  position: absolute;
  top: 100px;
  left: 350px;
}

.component,
.criteria {
  background: white;
  min-width: 700px;
  padding: 20px;
}

.typeTest {
  background: white;
  min-width: 200px;
  width: 240px;
  margin-left: 10px;
}

.questionComponent {
  flex-direction: row;
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.component {
  flex-direction: column;
  display: flex;
}

.inputQuestion {
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
}

.answerConteiner {
  display: flex;
  flex-direction: column;
}

.answerConteiner input {
  width: 40%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #0000ff;
}

.answerConteiner:focus,
.inputQuestion:focus {
  outline: none;
}

.answerComponent {
  display: flex;
  flex-direction: row;
}

.price {
  margin-left: 10px;
  width: 80px !important;
}

.addQuestion,
.addAnswer,
.deleteAnswer,
.saveTest,
.addCriteria,
.deleteCriteria,
.deleteQuestion {
  margin-left: 15px;
  background-color: white;
  width: 220px;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 12px;
}

.addQuestion,
.saveTest,
.deleteQuestion {
  position: fixed;
  left: 10px;
}

.addAnswer,
.addCriteria {
  margin: 0;
}

.addQuestion:focus {
  outline: none;
}

.deleteAnswer,
.addAnswer,
.deleteQuestion,
.addCriteria,
.deleteCriteria,{
  background-color: grey;
  width: 60px;
  height: 35px;
}
.deleteAnswer,
.addAnswer {
  background-image: url(../img/add.png);
  height: 35px;
  width: 35px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
}

.deleteAnswer {
  background-image: url(../img/del.png);
}

.saveTest {
  top: 200px;
}

.deleteQuestion {
  top: 290px;
}

.conteiner-criterias {
  display: flex;
  flex-direction: column;
  background: #fff;
  align-items: center;
}

.buttonsCriteria {
  flex-direction: row;
  display: flex;
}

.criteria {
  display: flex;
  flex-direction: row;
}

.chapels {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin-right: 20px;
}

.chapel-in {
  margin-bottom: 10px;
}

.chapel-in,
.chapel-out {
  width: 90px;
  height: 30px;
}

.description {
  width: 65%;
  height: 70px;
  resize: none;
}

.modal-content {
  margin-top: 20%;
}

